{% load widget_tweaks %}
<!-- RESPONSE YUUUUUUUUUUUUU -->
<div class="col-sm-4 col-12" id="add-product-category">
    <div class="mb-3">
        <div class="add-newplus">
            <label class="form-label">Catégorie du produit<span class="text-danger ms-1">*</span></label>
            <a hx-get="{% url 'product:add_new_category' %}" hx-target="#dialog"><i data-feather="plus-circle"
                    class="plus-down-add"></i><span>Add
                    New</span></a>
        </div>

        {% render_field form.categorie class="select select2-hidden-accessible" %}
    </div>

</div>