{% load widget_tweaks %}
<div class="col-sm-4 col-12" id="add-product-unity">
    <div class="mb-3" >
        <div class="add-newplus">
            <label class="form-label">Unite de vente<span
                    class="text-danger ms-1">*</span></label>
            <a hx-get="{% url 'product:add_new_category' %}" hx-target="#dialog"><i data-feather="plus-circle"
                    class="plus-down-add"></i><span>Add
                    New</span></a>
        </div>

        {% render_field form.unity class="select select2-hidden-accessible" %}
          {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mx-2 mt-2">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i
                                class="fas fa-xmark"></i></button>
                    </div>
                    {% endfor %}
                    {% endif %}
    </div>
    

    <script>
    
        htmx.on("htmx:afterSwap", (e) => {
                if (e.detail.target.id === "dialog") {
                    modal.show();
                }
                if (e.detail.target.id === "content") {
                    loadTable();
                }
                if ($('.select').length > 0) {
                    $('.select').select2({
                        minimumResultsForSearch: -1,
                        width: '100%'
                    });
                    
                }       
        });
        
     </script>
</div>