<!-- Sidebar -->
{% load static %}
<div class="sidebar" id="sidebar">
  <!-- Logo -->
  <div class="sidebar-logo active">
    <a href="index.html" class="logo logo-normal">
      <img src="{% static '' %}img/logo.svg" alt="Img">
    </a>
    <a href="index.html" class="logo logo-white">
      <img src="{% static '' %}img/logo-white.svg" alt="Img">
    </a>
    <a href="index.html" class="logo-small">
      <img src="{% static '' %}img/logo-small.png" alt="Img">
    </a>
    <a id="toggle_btn" href="javascript:void(0);">
      <i data-feather="chevrons-left" class="feather-16"></i>
    </a>
  </div>
  <!-- /Logo -->
  <div class="modern-profile p-3 pb-0">
    <div class="text-center rounded bg-light p-3 mb-4 user-profile">
      <div class="avatar avatar-lg online mb-3">
        <img src="{% static '' %}img/customer/customer15.jpg" alt="Img" class="img-fluid rounded-circle">
      </div>
      <h6 class="fs-14 fw-bold mb-1">Adrian Herman</h6>
      <p class="fs-12 mb-0">System Admin</p>
    </div>
    <div class="sidebar-nav mb-3">
      <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified bg-transparent" role="tablist">
        <li class="nav-item"><a class="nav-link active border-0" href="#">Menu</a></li>
        <li class="nav-item"><a class="nav-link border-0" href="chat.html">Chats</a></li>
        <li class="nav-item"><a class="nav-link border-0" href="email.html">Inbox</a></li>
      </ul>
    </div>
  </div>
  <div class="sidebar-header p-3 pb-0 pt-2">
    <div class="text-center rounded bg-light p-2 mb-4 sidebar-profile d-flex align-items-center">
      <div class="avatar avatar-md onlin">
        <img src="{% static '' %}img/customer/customer15.jpg" alt="Img" class="img-fluid rounded-circle">
      </div>
      <div class="text-start sidebar-profile-info ms-2">
        <h6 class="fs-14 fw-bold mb-1">Adrian Herman</h6>
        <p class="fs-12">System Admin</p>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between menu-item mb-3">
      <div>
        <a href="index.html" class="btn btn-sm btn-icon bg-light">
          <i class="ti ti-layout-grid-remove"></i>
        </a>
      </div>
      <div>
        <a href="chat.html" class="btn btn-sm btn-icon bg-light">
          <i class="ti ti-brand-hipchat"></i>
        </a>
      </div>
      <div>
        <a href="email.html" class="btn btn-sm btn-icon bg-light position-relative">
          <i class="ti ti-message"></i>
        </a>
      </div>
      <div class="notification-item">
        <a href="activities.html" class="btn btn-sm btn-icon bg-light position-relative">
          <i class="ti ti-bell"></i>
          <span class="notification-status-dot"></span>
        </a>
      </div>
      <div class="me-0">
        <a href="general-settings.html" class="btn btn-sm btn-icon bg-light">
          <i class="ti ti-settings"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Main</h6>
          <ul>
            <li class="">
              <a hx-get="{% url 'dashboard:dashboard_view' %}" hx-target="#content" class=""><i class="ti ti-layout-grid fs-16 me-2"></i><span>Dashboard</span></a>
              
            </li>
            
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Gestion articles</h6>
          <ul>
            
            <li><a hx-get="{% url 'product:product_view' %}" hx-target="#content" onclick='document.title="Liste des articles"' ><i data-feather="box"></i><span>Tous les Produits</span></a></li>
            <li><a hx-get="{% url 'product:add_product' %}" hx-target="#content" onclick='document.title="Créer un article"'><i class="ti ti-table-plus fs-16 me-2"></i><span>Créer article</span></a></li>
            <li><a hx-get="{% url 'category:category_list_view' %}" hx-target="#content" onclick='document.title="Liste de catégories"'><i class="ti ti-list-details fs-16 me-2"></i><span>Categories</span></a></li>
            <li><a hx-get="{% url 'unity:unity_list_view' %}" hx-target="#content" onclick='document.title="Liste des unités de vente"'><i class="ti ti-brand-unity fs-16 me-2"></i><span>Unité de vente</span></a></li>
            <li><a href="expired-products.html"><i class="ti ti-progress-alert fs-16 me-2"></i><span>Produits expirés</span></a></li>
            <li><a href="qrcode.html"><i class="ti ti-qrcode fs-16 me-2"></i><span>Imprimer prix</span></a></li>
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Gestion Stock</h6>
          <ul>
            <li><a href="low-stocks.html"><i class="ti ti-trending-up-2 fs-16 me-2"></i><span>Stocks faibles</span></a></li>
            <li><a hx-get="{% url 'stock:entree_view' %}" hx-target="#content" onclick="setTitle('Liste entrées stock')"><i class="ti ti-stairs-up fs-16 me-2"></i><span>Entrée stock</span></a></li>
            <li><a hx-get="{% url 'stock:sortie_view' %}" hx-target="#content" onclick="setTitle('Liste des sorties stock')"><i class="ti ti-stack-pop fs-16 me-2"></i><span>Sortie stock</span></a></li>
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Gestion Ventes</h6>
          <ul>
            
            <li><a hx-get="{% url 'facture:facture_list' %}" hx-target="#content" onclick="setTitle('Liste des facture vendues')"><span>Factures</span></a></li>
            <li><a href="sales-returns.html"><span>Retour</span></a></li>
            
          </ul>
        </li>
        
        
        <li class="submenu-open">
          <h6 class="submenu-hdr">DRH</h6>
          <ul>
            <li><a href="employees-grid.html"><i class="ti ti-user fs-16 me-2"></i><span>Employeés</span></a></li>
            <li><a href="department-grid.html"><i class="ti ti-compass fs-16 me-2"></i><span>Paie</span></a></li>
            <li><a href="designation.html"><i class="ti ti-git-merge fs-16 me-2"></i><span>Absence</span></a></li>
            <li><a href="shift.html"><i class="ti ti-arrows-shuffle fs-16 me-2"></i><span>Dettes</span></a></li>
            
            
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Rapports</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);"><i class="ti ti-chart-bar fs-16 me-2"></i><span>Rapport articles</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="">Expirés</a></li>
                <li><a href="">Plus vendus</a></li>
                <li><a href="">A court de stock</a></li>
              </ul>
            </li>
            
            <li class="submenu">
              <a href="javascript:void(0);"><i class="ti ti-triangle-inverted fs-16 me-2"></i><span>Rapport de vente</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="inventory-report.html">Vente du jour</a></li>
                <li><a href="stock-history.html">Vente mensuelle</a></li>
                
              </ul>
            </li>
            
          </ul>
        </li>
        
        <li class="submenu-open">
          <h6 class="submenu-hdr">Gestion d'utilisateurs</h6>
          <ul>
            <li class="
            {% if page == 'user' %}
              active
            {% endif %}
              "><a hx-get="{% url 'auth:user_view' %}" hx-target="#content" ><i class="ti ti-shield-up fs-16 me-2"></i><span>Utilisateurs</span></a></li>
            <li><a hx-get="{% url 'vente:session_list' %}" hx-target="#content" ><i class="ti ti-jump-rope fs-16 me-2"></i><span>Session</span></a></li>
            
          </ul>
        </li>
        
        <li class="submenu-open">
          <h6 class="submenu-hdr">Settings</h6>
          <ul>
            <li class="">
              <a hx-get="{% url 'config:settings_view' %}" hx-target="#content" onclick='document.title="Configuration"' ><i class="ti ti-settings fs-16 me-2"></i><span>Parametre général</span></span></a>
              
            </li>
            
            <li>
              <a href="signin.html"><i class="ti ti-logout fs-16 me-2"></i><span>Déconnection</span> </a>
            </li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</div>
<!-- /Sidebar -->

